AUTHENTIK_ISSUER=https://sso.casper.or.kr/application/o/casper-project-manager/
AUTHENTIK_CLIENT_ID=2n2bqzOFUJS8wXTktBvp15NlYIhj98hlpOoY61dq
AUTHENTIK_CLIENT_SECRET=
AUTHENTIK_CALLBACK_URL=https://pm.casper.or.kr/auth/oidc/callback
SESSION_SECRET=
